<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_tag users_path, :method => 'get' do %>
				<%= select_tag :search, options_for_select(@locations), :prompt => "Location", class: 'form-control' %>
				<%= submit_tag "Search", class: 'btn btn-md btn-primary' %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ul class="list-unstyled">
				<% @users.each do |user| %>
					<% if user.profile %>
						<li>
							<div class="well row <%= cycle('', 'white-bg')  %>">
								<div class="col-sm-4 text-center">
									<% if user.profile.avatar %>
										<%= link_to user do %>
											<%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
										<% end %>
									<% end %>
								</div>
								<div>
									<%= link_to user do %>
										<h2><%= user.profile.company %></h2>
									<% end %>
									<h4><%= user.profile.location %></h4>
									<p><%= user.profile.about %></p>
								</div>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>
