<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="well">
				<h2 class="text-center dealer-name"><%= @user.profile.company %></h2>
				<%= image_tag @user.profile.avatar.url, class: 'avatar-img' %>
				<h4>Location</h4>
				<div class="dealer-field">
					<%= @user.profile.location %>
				</div>
				<h4>Sales Representative</h4>
				<div class="dealer-field">
					<%= @user.profile.name %>
				</div>
				<h4>Phone number</h4>
				<div class="dealer-field">
					<%= @user.profile.phone_number %>
				</div>
				<h4>Email address</h4>
				<div class="dealer-field">
					<%= @user.profile.email %>
				</div>
				<h4>About <%= @user.profile.company %></h4>
				<div class="dealer-field">
					<%= @user.profile.about %>
				</div>
			</div>			
		</div>
		<div class="col-md-6">
			<div class="well">
				<h2 class="text-center dealer-name">Listings</h2>
				<ul class="list-unstyled">
					<% @cars.each do |car| %>
						<li>							
							<div>
								<%= link_to user_car_path(user_id: current_user.id ) do %>
									<h3><%= car.year %> <%= car.make %> <%= car.model %></h3>
								<% end %>
							</div>
						</li>					
					<% end %>
				</ul>
			</div>
		</div>
		

		<% if user_signed_in? && @user.id == current_user.id %>
			<div class="row text-center">
				<div class="col-md-3">
					<div class="well">
						<h3 class="dealer-name">Options</h3>
						<%= link_to "Add New Listing", new_user_car_path(user_id: current_user.id ), class: 'btn btn-lg btn-success btn-block' %>
						<%= link_to "Update Your Page", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-lg btn-primary btn-block' %>
						<%= link_to "Manage Your Account", edit_user_registration_path, class: 'btn btn-lg btn-warning btn-block' %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>