<div class="container">
	<div class="row">		
		<div class="well inventory-well homepage-well">
			<% if !user_signed_in? %>
				<h4 class="text-center">Do you own/work at a military car sales company? Create a Polestar Dealership Account to start listing your vehicles: 
					<%= link_to "Sign Up!", new_user_registration_path(plan: @dealer_plan), class: "btn btn-danger btn-md" %></h4>
			<% end %>	
			<h2 class="text-center">Shopping for a new vehicle?</h2>
			<p>Polestar exists to make your life easier. All overseas military car dealerships can 
				list their vehicles on one easy-to-navigate site, so you'll no longer have
				to kick tires on lemon lots, sift though endless Facebook pages
				and search countless individual dealership sites.</p>
			<br />
			<div class="row">
				<% if @car1.image %>
					<div class="col-md-3 text-center">
						<%= link_to @car1 do %>
							<%= image_tag @car1.image.url(:medium), class: 'homepage-car-img' %>
						<% end %>
					</div>
				<% end %>
				<% if @car2.image %>
					<div class="col-md-3 text-center">
						<%= link_to @car2 do %>
							<%= image_tag @car2.image.url(:medium), class: 'homepage-car-img' %>
						<% end %>
					</div>
				<% end %>
				<% if @car3.image %>
					<div class="col-md-3 text-center">
						<%= link_to @car3 do %>
							<%= image_tag @car3.image.url(:medium), class: 'homepage-car-img' %>
						<% end %>
					</div>
				<% end %>
				<% if @car4.image %>
					<div class="col-md-3 text-center">
						<%= link_to @car4 do %>
							<%= image_tag @car4.image.url(:medium), class: 'homepage-car-img' %>
						<% end %>
					</div>
				<% end %>
			</div>
			<br />
			<div class="row">
				<h4 class="text-center">Follow the link below to see what's out there. It's free!</h4>
				<%= link_to "View All Vehicles", cars_path, class: "btn btn-success btn-lg btn-block" %>
			</div>
			-->
		</div>
	</div>	
</div>
