<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <h2 class="text-center">Advanced search</h2>

        <%= form_for @search, html: {class: "pure-form"} do |s| %>

	        <div class="form-group">
	        	<%= s.label :make %>
	        	<%= s.text_field :make, class: 'form-control' %>
	        </div>

	        <div class="form-group">
	        	<%= s.label :model %>
	        	<%= s.text_field :model, class: 'form-control' %>
	        </div>

	         <div class="form-group">
	        	<%= s.label :keywords %>
	        	<%= s.text_field :keywords, class: 'form-control', placeholder: 'e.g. Leather, Bluetooth, sunroof, etc.' %>
	        </div>

	        <div class="form-group">
	        	<%= s.label :transmission %>
	        	<%= s.select :transmission, options_for_select(@transmissions), :include_blank => true, class: 'form-control' %>
	        </div>

	        <div class="form-group">
	        	<%= s.label :category %>
	        	<%= s.select :category, options_for_select(@categories), :include_blank => true, class: 'form-control' %>
	        </div>

	        <div class="form-group">
    				<%= s.submit "Search", class: 'btn btn-primary' %>
  				</div>

        <% end %>

        <h4 class="text-center"><%= link_to 'Back', cars_path %></h4>

      </div>
    </div>
  </div>
</div>