<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ul class="list-unstyled">
				
				<% if @search.search_cars.empty? %>
					
					<div class="well">
						<h2 class="text-center">No Records Found</h4>
					</div>
					
				<% else %>

					<% @search.search_cars.each do |car| %>

						<li>
							<div class="well row <%= cycle('', 'white-bg')  %>">
								<div class="col-sm-4">
									<% if car.image %>
										<%= link_to car do %>
											<%= image_tag car.image.url(:medium), class: 'car-index-image' %>
										<% end %>
									<% end %>
								</div>
								<br />
								<br />
								<div class="pull-left">
									<%= link_to car do %>
										<h3><%= car.year %> <%=car.make %> <%= car.model %></h3>
									<% end %>
								</div>
								<div>
									<h3 class="pull-right"><%= car.price %></h3>
								</div>
							</div>
						</li>

					<% end %>

				<% end %>

				<h4 class="text-center"><%= link_to 'Back to Advanced Search', new_search_path, class: 'btn btn-md btn-primary' %></h4>
				<h4 class="text-center"><%= link_to 'Back to All Vehicles', cars_path, class: 'btn btn-md btn-primary' %></h4>

			</ul>
		</div>
	</div>
</div>