<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ul class="list-unstyled">
				<% @cars.each do |car| %>					
					<li>
						<div class="well row <%= cycle('', 'white-bg')  %>">
							<div class="col-sm-4">
								<% if car.image %>
									<%= link_to car do %>
										<%= image_tag car.image.url(:medium), class: 'car-index-image' %>
									<% end %>
								<% end %>
							</div>
							<br />
							<br />
							<div class="pull-left">
								<%= link_to car do %>
									<h3><%= car.year %> <%=car.make %> <%= car.model %></h3>
								<% end %>
							</div>
							<div>
								<h3 class="pull-right"><%= car.price %></h3>
							</div>
						</div>
					</li>					
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="well pages-well">
		<%= will_paginate @cars, class: 'text-center' %>
	</div>
</div>
