<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="well car-title">
				<h2 class="text-center">Specs</h2><br />
				<h4>Bodystyle</h4>
				<div class="dealer-field">
					<%= @car.category %>
				</div>
				<h4>Transmission</h4>
				<div class="dealer-field">
					<%= @car.transmission %>
				</div>
				<h4>Mileage</h4>
				<div class="dealer-field">
					<%= @car.miles %>
				</div>
				<h4>Description</h4>
				<div class="dealer-field">
					<%= @car.description %>
				</div>
			</div>	
		</div>
		
		<div class="col-md-6">
			<div class="well car-title">
				<h1 class="text-center"><%= @car.year %> <%= @car.make %> <%= @car.model%></h1>
				<h3 class="text-center"><%= @car.price %></h3>
							
				<%= image_tag @car.image.url(:large), class: 'car-img' %>				
			
				<%= image_tag @car.image2.url(:large), class: 'car-img' %>				
			
				<%= image_tag @car.image3.url(:large), class: 'car-img' %>				
			
				<%= image_tag @car.image4.url(:large), class: 'car-img' %>			
			
				<%= image_tag @car.image5.url(:large), class: 'car-img' %>
				
			</div>
		</div>

		<div class="col-md-3">
			<div class="well text-center">
				<%= link_to @user do %>				
					<%= image_tag @user.profile.avatar.url, class: 'user-index-avatar' %>				
					<h3><%= @user.profile.company %></h3>
				<% end %>
				<h4><%= @user.profile.location %></h4>
				<h4><%= @user.profile.phone_number %></h4>
				<h4><%= @user.profile.email %></h4>
				<% if user_signed_in? && @user.id == current_user.id %>
				<%= link_to "Edit Listing", edit_car_path(id: @car.id ), class: 'btn btn-lg btn-warning btn-block' %>
				<%= link_to "Delete Listing", '#', class: 'btn btn-lg btn-danger btn-block' %>
				<% end %>
			</div>
		</div>		
	</div>
</div>

