<!DOCTYPE html>
<%= javascript_include_tag :defaults %>
<html>
	<head>
		<title>Polestar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag  "application" %>
		<link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
		<%= favicon_link_tag 'favicon.ico' %>
		<%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<body>
	<div class="page-header">
		<div class="container">
			<h1 id="main-header"><i class="fa fa-star-half-o"></i>Polestar <small>Overseas Military Car-Finder</small></h1>
			<h4 id="slogan">Guiding you to your next vehicle purchase.</h4>
		</div>
		
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class='container'>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Vehicles", cars_path %></li>
						<li><%= link_to "Dealerships", users_path %></li>
						<li><%= link_to "Contact Us", new_contact_path %></li>
						<li><%= link_to "About", about_path %></li>
					</ul>

					<!-- Additional buttons for signed in users --> 
					<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>

							<li><%= link_to "Rules", rules_path %></li>

							<% if current_user.profile %>
								<li><%= link_to "Your Page", user_path(id: current_user.id) %></li>
							<% end %>

							<% if !current_user.profile %>
								<%= link_to "Create Your Dealership Page", new_user_profile_path(user_id: current_user.id), class: 'btn btn-md btn-success navbar-btn' %>
								<% end %>
							<% end %>

							<% if user_signed_in? %>
								<%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: 'btn btn-md btn-danger navbar-btn' %>
							<% else %>						
								<%= link_to "Log In", new_user_session_path, class: 'btn btn-md btn-success navbar-btn' %>
							<% end %>

					</ul>
				</div>	
			</div>
		</nav>
	</div>
	
	<div class="container flash-container">
		<% flash.each do |type, msg| %>
  		<%= content_tag :div, msg, class: "alert alert-#{type}" %>
		<% end %>
	</div>

	<%= yield %>
	
	<br />
	<br />
	<footer>
		<div class="container text-center">
			<ul class="list-unstyled">
				<li class="footer"><a href="#">Find us on Facebook <i class="fa fa-facebook-official"></i></a></li>
				<li class="footer"><a href="#">Follow us on Twitter <i class="fa fa-twitter"></i></a></li>
				<br />
			</ul>
		</div>
	</footer>
</body>	
</html>
